body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.top {
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0 70px;
    width: 70%;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-content {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 70px;
    width: 70%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

img {
    width: 400px;
    height: auto;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    padding: 6px 25px;
}

.left-side {
    min-width: 200px;
}

.right-links {
    
}

.div1 {
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}

.div1-title {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 0 0 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    max-width: 150px;
    /* border-style: dotted;
    border-color: black; */
}

.div2 {
    padding: 50px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: 900;
}

.div3-box {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    background-color: #3882f6;
    width: 60%;
    border-radius: 10px;
}

.div3-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.ca {
    color: white;
}

.ca-title {
    font-weight: 900;
}

.su-text {
    font-weight: 100;
}

.button2 {
    border-color: white;
}

.footer {
    text-align: center;
    color: white;
    background-color: #1f2937;
    padding: 50px 0;
}